# Git internals (should never be tracked)
.git/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Large Raw Data (keep these ignored)
mimic-iv-3.1/
mimic-code/

# Externalized Data (Removes the 600MB folder)
data/embeddings/

# Environments and IDEs
.env/
.venv/
env/
venv/
.vscode/
.idea/

# Research artifacts
.ipynb_checkpoints/

results/**/detailed_history_*.csv

catboost_info/
data/mimic_*